#id{
    margin: 50px 50px 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.navContainer{
    padding: 16px, 24px;
    background-color: light yellow;
}

.navbar {

}

.logIn {
    position: relative;
    float: right;
    color: inherit;
    text-decoration: inherit;
}

.wrapper1 {
    position: relative;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.container1 {
    position: relative;
    flex-direction: row;
}

.textbox1 {
    position: relative;
    float: left;
    margin: 50px, 50px, 50px, 50px;
    padding-top: 50px;
}

.button1 {
    color: ivory;
    background-color: teal;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: inherit;   
}

.image1 {
    position: relative;
    float: right;
}


.wrapper2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    flex-direction: row;
}

.container2 {
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
}

.image2 {
    position: relative;
    float: left;
}


.textbox2 {
    position: relative;
    float: right;
    padding-right: 50px;
}

.wrapper3 {
    position: relative;
    padding-top: 900px;
    text-align-last: center;
}