.page{
    margin: 50px 50px 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fstatic.grammarly.com%2Fassets%2Ffiles%2F08200c94cef87dac3faa5bec9bc48944%2Fbg-left.jpg;),url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fstatic.grammarly.com%2Fassets%2Ffiles%2F08200c94cef87dac3faa5bec9bc48944%2Fbg-left.jpg;);
    background-repeat: no-repeat, no-repeat;
    background-position-x: right, left;
    background-position-y: 0mm, 1000px;
    background-size: 50% 50%, 40% 35%;
}

.navContainer{
    padding: 16px, 24px;

}

.logIn {
    position: relative;
    float: right;
    color: inherit;
    text-decoration: inherit;
}

.wrapper1 {
    position: relative;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    flex-direction: row;
}

.container1 {
    position: relative;
    flex-direction: row;
}

.textbox1 {
    position: relative;
    float: left;
    margin: 50px, 50px, 50px, 50px;
    text-size-adjust: 50%;
}

.chromeLink {
    position: relative;
    z-index: 15;
    padding: 100px 100px 100x 50px;
}

#button1 {
    color: ivory;
    background-color: teal;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: inherit;
}

.image1 {
    position: relative;
    float: right;
}


.wrapper2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    flex-direction: row;
    padding-top: 800px;
}

.container2 {
    flex-direction: row;
    position: relative;
    justify-content: space-evenly; 
}

.image2 {
    position: relative;
    float: left;
}


.textbox2 {
    position: relative;
    float: right; 
    padding-right: 50px;
    z-index: 10;
}


.wrapper3 {
    position: relative;
    padding-top: 475px;
    text-align-last: center;
}

.showMe {
    color: inherit;
    text-decoration: inherit;
}